<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../../src/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="imp_val.css" rel="stylesheet"/>
    <link href="https://dolarapi.com">

    <title>Valores</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    <nav class="navbar">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <button class="btn btn-primary menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><img src="../../src/list.svg"></button>
            <div class="offcanvas offcanvas-start interiorMenu" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close equis" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body interiorMenu">
                <div class="explorar"> <h4>EXPLORAR</h4>
                    <a href="../../index.html"><img src="../../src/house.svg">Inicio</a>
                    <a href="../movimientos/index_movimientos.php"><img src="../../src/bank.svg">Gastos</a>
                    <a href="#"><img src="../../src/chart-line.svg">Estadísticas de gastos</a>
                    <a href="../personas/create.php"><img src="../../src/users.svg">Personas</a>
                    <a href="../movimientos/index_movimientos.php"><img src="../../src/receipt.svg">Resumen de gastos</a>
                </div>
                <div class="container-fluid d-flex justify-content-between contactos-box position-absolute bottom-0 start-50 translate-middle-x">
                    <a class="contactos" href="#"><img class="" src="../../src/facebook-logo.svg"></a>
                    <a class="contactos" href="#"><img class="" src="../../src/instagram-logo.svg"></a>
                    <a class="contactos" href="#"><img class="" src="../../src/phone.svg"></a>
                    <a class="contactos" href="#"><img class="" src="../../src/envelope.svg"></a>
                </div>
            </div>
            </div>
            <a href="../../index.html" class="logo"><h1 class="mb-1 fs-2"> <span class="family">Family</span><span class="calc">Calc</span>  </h1></a>
            <div>
                <a href="../../views/chatbot/chatbot.html" class="btn menu" type="button"><img src="../../src/robot.svg"></a>
                <a href="../../views/iniciarSesion/iniciarSesion.html" class="btn menu" type="button"><img src="../../src/user-circle.svg"></a>
            </div>
        </div>
    </nav>

    <div class="row text-center justify-content-md-center mb-4">
        <div class="col-6 col-md-3">
            <div class="gif-buttom">
                <button type="button" onclick="mostrarSeccion('valores')" class="gif-container">
                    <img src="img-botones/dolar.png" class="static" alt="Dolar estático">
                    <img src="img-botones/dolar.gif" class="animated" alt="Dolar animado">
                </button>
                <p class="btn-text">Valores de monedas</p>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="gif-button">
                <button type="button" onclick="mostrarSeccion('servicios')" class="gif-container">
                    <img src="img-botones/pochoclo.png" class="static" alt="Pochoclo estático">
                    <img src="img-botones/pochoclo.gif" class="animated" alt="Pochoclo animado" style="padding: 10px;">
                </button>
                <p class="btn-text">Valores de servicios</p>
            </div>
        </div>
    </div>

    <section id="valores">
        <div class="row text-center justify-content-md-center mb-4">
            <div class=" titulo text-center col-12 col-md-auto">
                <h1> VALORES DE MONEDAS </h1>
                <div class="text-center col-12 col-md-auto">
                    <h2> Powered by: <a href="https://dolarapi.com/"><button>DolarApi.com</button></a> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar Oficial </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-oficial"> </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-oficial">  </dd>
                                <small id="fecha-oficial" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar Blue </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-blue">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-blue">  </dd>
                                <small id="fecha-blue" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar Bolsa </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-bolsa">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-bolsa">  </dd>
                                <small id="fecha-bolsa" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar Tarjeta </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-tarjeta">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-tarjeta">  </dd>
                                <small id="fecha-tarjeta" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar Cripto </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-cripto">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-cripto">  </dd>
                                <small id="fecha-cripto" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-6 col-md-4 mb-4">
                <div class="val-container mx-3">
                    <h3> Dólar CCL </h3>
                    <div bis_skin_checked="1">
                        <div class="flex items-center w-full max-w-34 mx-auto">
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-contadoconliqui">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-contadoconliqui">  </dd>
                                <small id="fecha-contadoconliqui" class="text-muted"></small>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        <script>
fetch('https://dolarapi.com/v1/dolares') // Obtiene datos de la API
    .then(response => response.json()) // Convierte respuesta a JSON
    .then(data => mostrarData(data)) // Llama a mostrarData con los datos
    .catch(error => console.log(error)); // Muestra error si algo falla

const mostrarData = (data) => { // Función para mostrar datos en la página

    const formatoARS = new Intl.NumberFormat("es-AR", { // Formato de moneda argentina
        style: "currency",
        currency: "ARS",
        minimumFractionDigits: 2
    });

    const formatoFecha = new Intl.DateTimeFormat("es-AR", { // Formato de fecha y hora corta
        dateStyle: "short",
        timeStyle: "short"
    });

    data.forEach(d => { // Recorre cada objeto de la API
        const compraEl = document.getElementById(`compra-${d.casa}`); // Busca elemento compra por id
        const ventaEl  = document.getElementById(`venta-${d.casa}`); // Busca elemento venta por id
        const fechaEl  = document.getElementById(`fecha-${d.casa}`); // Busca elemento fecha por id

        if (compraEl) compraEl.innerText = formatoARS.format(d.compra);// Muestra valor de compra formateado
        if (ventaEl)  ventaEl.innerText  = formatoARS.format(d.venta);// Muestra valor de venta formateado
        
        if (fechaEl) { // Si existe, muestra fecha actualizada
            const fecha = new Date(d.fechaActualizacion); // Convierte string a objeto Date
            fechaEl.innerText = `${formatoFecha.format(fecha)}`; // Inserta fecha con formato corto
        }
    });
} 
        </script>

            <div class="text-center col-12 mb-4">
                <div class="val-container mx-3">
                    <h3> Demás cotizaciones </h3>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h3>Peso uruguayo</h3>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-Peso Uruguayo"> </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-Peso Uruguayo">  </dd>
                                <small id="fecha-Peso Uruguayo" class="text-muted"></small>
                            </dl>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3>Peso chileno</h3>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-Peso Chileno">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-Peso Chileno">  </dd>
                                <small id="fecha-Peso Chileno" class="text-muted"></small> 
                            </dl>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3>Real brasileño</h3>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-Real Brasileño">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold"  id="venta-Real Brasileño">  </dd>
                                <small id="fecha-Real Brasileño" class="text-muted"></small>
                            </dl>
                        </div>
                            <div class="col-6 col-md-3">
                            <h3>Euro</h3>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-200"> Compra </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="compra-Euro">  </dd>
                            </dl>
                            <dl class="flex-1 flex flex-col justify-center items-center">
                                <dt class="text-xs uppercase text-gray-600 dark:text-gray-400"> Venta </dt>
                                <dd class="text-gray-800 dark:text-gray-200 font-bold" id="venta-Euro">  </dd>
                                <small id="fecha-Euro" class="text-muted"></small> 
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row text-center justify-content-md-center mt-4">
        </div>

        <script>
            fetch('https://dolarapi.com/v1/cotizaciones') // Obtiene datos de la API
    .then(response => response.json()) // Convierte respuesta a JSON
    .then(data => mostrarData2(data)) // Llama a mostrarData con los datos
    .catch(error => console.log(error)); // Muestra error si algo falla

const mostrarData2 = (data) => { // Función para mostrar datos en la página

    const formatoARS = new Intl.NumberFormat("es-AR", { // Formato de moneda argentina
        style: "currency",
        currency: "ARS",
        minimumFractionDigits: 2
    });

    const formatoFecha = new Intl.DateTimeFormat("es-AR", { // Formato de fecha y hora corta
        dateStyle: "short",
        timeStyle: "short"
    });

    data.forEach(d => { // Recorre cada objeto de la API
        const compraEl = document.getElementById(`compra-${d.nombre}`); // Busca elemento compra por id
        const ventaEl  = document.getElementById(`venta-${d.nombre}`); // Busca elemento venta por id
        const fechaEl  = document.getElementById(`fecha-${d.nombre}`); // Busca elemento fecha por id

        if (compraEl) compraEl.innerText = formatoARS.format(d.compra);// Muestra valor de compra formateado
        if (ventaEl)  ventaEl.innerText  = formatoARS.format(d.venta);// Muestra valor de venta formateado
        
        if (fechaEl) { // Si existe, muestra fecha actualizada
            const fecha = new Date(d.fechaActualizacion); // Convierte string a objeto Date
            fechaEl.innerText = `${formatoFecha.format(fecha)}`; // Inserta fecha con formato corto
        }
    });
}
        </script>

    </section>

    <section id="servicios">
        <div class="row text-center justify-content-md-center mb-4">
            <div class=" titulo text-center col-12 col-md-auto">
                <h1> VALORES SERVICIOS DE STREAMING </h1>
            </div>
        </div>

    </section>

    <script src="serviciosPrecios.js">
    </script>



    <script>
document.addEventListener('DOMContentLoaded', () => { // Espera a que el DOM se cargue completamente antes de ejecutar el código

  const valores = document.getElementById('valores'); // Obtiene la sección con id="valores"

  const servicios = document.getElementById('servicios'); // Obtiene la sección con id="servicios"

  if (valores && servicios) { // Verifica que ambas secciones existan en el HTML

    servicios.style.display = 'none'; // Oculta la sección de servicios al inicio

    valores.style.display = ''; // Deja visible la sección de valores (usa el display por defecto del CSS)
  }

  window.mostrarSeccion = function(seccion) { // Define una función global llamada mostrarSeccion, accesible desde los botones

    if (!valores || !servicios) return; // Si alguna sección no existe, termina la función para evitar errores

    if (seccion === 'valores') {  // Si el parámetro es "valores", entonces...

      valores.style.display = '';      // Muestra la sección de valores

      servicios.style.display = 'none'; // Oculta la sección de servicios

    } else if (seccion === 'servicios') {  // Si el parámetro es "servicios", entonces...

      valores.style.display = 'none';  // Oculta la sección de valores

      servicios.style.display = '';    // Muestra la sección de servicios

      servicios.scrollIntoView({ behavior: 'smooth', block: 'start' });  // Hace scroll automático y suave hasta la sección servicios
    }
  }
});
    </script>
</body>

</html>
