<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="gastos.css" rel="stylesheet"/>
    <title>Gastos</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<nav class="navbar">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <button class="btn btn-primary menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><img src="../../src/list.svg"></button>
                <div class="offcanvas offcanvas-start interiorMenu" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body interiorMenu">
                    <div class="explorar"> <h4>EXPLORAR</h4>
                        <a href="../../index.html"><img src="../../src/house.svg">Inicio</a>
                        <a href="#"><img src="../../src/chart-line.svg">Estadísticas de gastos</a>
                        <a href="../../views/personas/create.php"><img src="../../src/users.svg">Personas</a>
                        <a href="../../views/Impuestos_valores/imp_val.html"><img src="../../src/percent.svg">Valores de las monedas</a>
                        <a href="#"><img src="../../src/receipt.svg">Resumen de gastos</a>
                    </div>
                    <div class="container-fluid d-flex justify-content-between contactos-box position-absolute bottom-0 start-50 translate-middle-x">
                        <a class="contactos" href="#"><img src="../../src/facebook-logo.svg"></a>
                        <a class="contactos" href="#"><img src="../../src/instagram-logo.svg"></a>
                        <a class="contactos" href="#"><img src="../../src/envelope.svg"></a>
                        <a class="contactos" href="#"><img src="../../src/phone.svg"></a>
                    </div>
                </div>
                </div>
                <a href="../../index.html" class="logo"><h1 class="mb-1 fs-2"><span class="family">Family</span><span class="calc">Calc</span></h1></a>
                <div>
                    <a href="../../views/chatbot/chatbot.html" class="btn menu" type="button"><img src="../../src/robot.svg"></a>
                    <a href="views/iniciarSesion/iniciarSesion.html" class="btn menu" type="button"><img src="../../src/user-circle.svg"></a>
                </div>
            </div>
        </nav>
    <section class="container">
        <div class="scrollcontainer gastoTotal">
            <h2>Gasto total</h2>
            <p>$100000<span>ARS</span></p>
        </div>
        <div class="ingresoGastos">
            <div class="formularioGastos ">
                <h3>Gastos Fijos</h3>
                <label for="ingresarDesc1">Descripcion</label>
                <input type="text" id="ingresarDesc1">
                <label for="ingresarCat1">Categoria</label>
                <select id="ingresarCat1">
                    <option value="" selected disabled></option>
                    <option value="Luz">Luz</option>
                    <option value="Suscripciones">Suscripciones</option>
                    <option value="Agua">Agua</option>
                    <option value="Gas">Gas</option>
                    <option value="Otros">Otros</option>
                </select>
                <label for="ingresarCosto1">Costo</label>
                <input type="number" id="ingresarCosto1">
                <button type="submit">Agregar gasto</button>
                <div class="listaGastos">
                    <div class="tablaTitulo sticky-top">
                        <p>Descripción</p>
                        <p>Categoria</p>
                        <p>Costo</p>
                    </div>
                    <div class="tabla">
                        <p>Paty</p>
                        <p>Comida</p>
                        <p>12000</p>
                    </div>
                </div>
            </div>
            <div class="formularioGastos ">
                <h3>Gastos Variables</h3>
                <label for="ingresarDesc2">Descripcion</label>
                <input type="text" id="ingresarDesc2">
                <label for="ingresarCat2">Categoria</label>
                <select id="ingresarCat2">
                    <option value="" selected disabled></option>
                    <option value="Comida">Comida</option>
                    <option value="Compras">Compras</option>
                    <option value="Salidas">Salidas</option>
                    <option value="Videojuegos">Videojuegos</option>
                    <option value="Otros">Otros</option>
                </select>
                <label for="ingresarCosto2">Costo</label>
                <input type="number" id="ingresarCosto2">
                <button type="submit">Agregar gasto</button>
                <div class="listaGastos">
                    <div class="tablaTitulo sticky-top">
                        <p>Descripcion</p>
                        <p>Categoria</p>
                        <p>Costo</p>
                    </div>
                    <div class="tabla">
                        <p>Paty</p>
                        <p>Comida</p>
                        <p>12000</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
