body{
    /*margin: 0;*/
    background-color: #DDE5FA;
}

.glass{
    background: #2c2c2c40;
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

::-webkit-scrollbar { width: 0px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #3a77a1;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}

.scrollcontainer{
    width: fit-content;
    height: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0 auto;
}


nav{
    background-color: #4767C2;
    width: 100%;
}

.logo{
    font-family: Permanent Marker;
    text-decoration: none;
    color: white;
}

.logo img{
    height: 45px;
    margin-right: 1rem;                         
}

.menu{                  
    background-color: rgb(71, 103, 194);
    border: none;
    padding: 4px;
}

.menu:hover{
    background-color: rgb(144, 165, 223);
    border: none;
}

.interiorMenu{
    background-color: rgb(71, 103, 194);
    padding: 0;
}

.interiorMenu a{
    color: #CFD3F2;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 18px 30px;
}

.interiorMenu a:hover{
    background-color: #cfd3f267;
}

.interiorMenu img{
    margin-right: 20px;
}

.contactos{
    width: 3.6rem;
    height: 3.6rem;
    background-color: rgb(71, 104, 194);
    border-radius: 10px;
}

.contactos img{
    transform: translate(-50%, -20%);
}

.contactos-box{
    position: absolute;
    transform: translate(0%, 695%);
}

.gastoTotal{
    background-color: white;
    border-radius: 7px;
    justify-items: center;
    position: relative;
    padding: 0;
    width: 90%;
    text-align: center;
    margin: 3rem;
}

.gastoTotal h2{
    background-color: #4767C2;
    color: white;
    width: 100%;
    font-weight: normal;
    font-size: 5dvh;
}

.gastoTotal p{
    font-size: 5dvh;
}

.gastoTotal span{
    font-size: 2dvh;
}

.ingresoGastos{
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

section{
    justify-items: center;
}

.formularioGastos{
    background-color: white;
    width: 40%;
    height: 35rem;
    border-radius: 7px;
    position: relative;
}

.formularioGastos h3 {
    background-color: #4767C2;
    color: white;
    width: 100%;
    font-weight: normal;
    font-size: 4dvh;
    height: 5.5dvh;
}

.formularioGastos input, .formularioGastos select{
    display: block;
    width: 80%;
    height: 3rem;
    margin: 4.5rem auto;
    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 7px;
    font-size: 2dvh;
    padding-left: 1rem;
}

.formularioGastos label{
    position: absolute;
    transform: translate(-50%, -110%);
}

.formularioGastos label:first-of-type{
    position: absolute;
    transform: translate(-50%, 90%);
}

.formularioGastos button{
    width: 85%;
    height: 3rem;
    border: none;
    background-color: #4767C2;
    border-radius: 30px;
    color: white;
    position: absolute;
    transform: translate(-50%, -10%);
}

.table {
    width: 70rem;
    margin-bottom: 10rem;
}

.table th{
    width: 25%;
    text-align: center;
}