body {
  background-color: rgb(221, 229, 250);
  font-family: "Space Grotesk", sans-serif;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.9rem);
  -webkit-backdrop-filter: blur(0.9rem);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.scrollcontainer{
    width: fit-content;
    height: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0 auto;
}

::-webkit-scrollbar { width: 0px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #3a77a1;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}

nav{
    background-color: rgb(71, 103, 194);
    width: 100%;
}

.logo{
    font-family: Permanent Marker;
    text-decoration: none;
    color: #CFD3F2;
}

.logo img{
    height: 45px;
    margin-right: 1rem;
}

.menu{
    background-color: rgb(71, 103, 194);
    border: none;
    padding: 4px;
}

.menu:hover{
    background-color: rgb(144, 165, 223);
    border: none;
}

.interiorMenu{
    background-color: rgb(71, 103, 194);
    padding: 0;
}

.interiorMenu a{
    color: #CFD3F2;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 18px 30px;
}

.interiorMenu a:hover{
    background-color: #cfd3f267;
}

.interiorMenu img{
    margin-right: 20px;
}

.contactos{
    width: 3.6rem;
    height: 3.6rem;
    background-color: rgb(71, 104, 194);
    border-radius: 10px;
}

.contactos img{
    transform: translate(-50%, -20%);
}

.contactos-box{
    position: absolute;
    transform: translate(0%, 695%);
}

.monto{
    transform: translate(20%, 10%);
    background-color: rgb(128, 141, 255);
    width: 70%;
    justify-items: center;
    border-radius: 40px;
}

.monto h2{
    color: #CFD3F2;
    font-size: 40px;
    border-bottom: 1px solid #CFD3F2;
    width: 95%;
    text-align: center;
    padding: 1rem;
}

.monto input{
    width: 45%;
    display: block;
    height: 4rem;
    border-radius: 20px;
    border: none;
    padding: 2rem;
    font-size: 20px;
    margin: 2rem;
}

.monto button{
    width: 20rem;
    height: 3rem;
    background-color: white;
    border: none;
    border-radius: 30px;
}

.monto button:hover{
    background-color: #d8ddff;
    transition: .3s ease-in-out;
}

.monto p{
    font-size: 25px;
    color: white;
    margin-top: 1rem;
    padding: 2rem;
    border-top: 2px solid #CFD3F2;
    width: 70%;
    text-align: center;
}

.gastos{
    transform: translate(47%, 10%);
    background-color: rgb(128, 141, 255);
    width: 30%;
    height: 40rem;
    justify-items: center;
    border-radius: 30px;
}

.gastos h2{
    color: #CFD3F2;
    font-size: 40px;
    border-bottom: 1px solid #CFD3F2;
    width: 95%;
    text-align: center;
    padding: 1rem;
}

.gastos select{
    width: 70%;
    display: block;
    height: 3rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding:0 1rem;
    margin: 2rem;
    margin-top: 1rem;
}

.gastos label{
    margin: 0;
    color: white;
    font-size: 20px;
}

.gastos input{
    width: 70%;
    display: block;
    height: 3rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding:0 1rem;
    margin: 3rem;
    margin-top: 1rem;
}

.gastos button{
    width: 35rem;
    height: 3.5rem;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin: 2rem;
}

.gastos button:hover{
    background-color: #d8ddff;
    transition: .3s ease-in-out;
}

.lista{
    background-color: rgb(128, 141, 255);
    width: 30%;
    height: 40rem;
    justify-items: center;
    border-radius: 30px;
    margin-top: 4rem;
    color: white;
}

.celda {
    justify-items: center;
}

.celdaIndividual{
    border-bottom: 1px solid #CFD3F2;
    width: 35rem;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.celdaIndividual button{
    justify-content: flex-end;
    background-color: white;
    border: none;
    width: 10rem;
    border-radius: 30px;
    margin: 2rem;
}


.celdaIndividual button:hover{
    background-color: #d8ddff;
    transition: .3s ease-in-out;
}

.celdaIndividual strong{
    width: 1rem;
    margin: 2rem;
}


.juntar{
    display: flex;
    gap: 11rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 1900px){
    form{
    width: 95% !important;
    height: 75dvh;
    margin: 5dvh 0;
}
form h2{
    font-size: 2rem;
}
tr,td,th{
    font-size: 1.2rem;
}
table{
    height: 67%;
    width: 90%;
}
.casilla input{
    height: 6dvh;
}
.casilla label{
    font-size: 3.7dvh;
}
.casilla input:focus ~ label,
.casilla input:not(:placeholder-shown) ~ label {
    font-size: 14.5px;
}

img{
    max-width: 6.5dvh;
}
}

