@font-face{
    font-family: "Hero";
    font-weight: bold;
    src: url(fonts/Hero-Bold.otf) format('opentype');
}

:root {
    --interior-menu: #DDE5FA;
    --texto-menu: #031427ea;
    --family: #e8eeff;
    --calc: #d0dcff;
    --color-fondo-claro: #DDE5FA; /* Color de fondo principal de la sección */
    --color-barra-navegacion-claro: #000616; /* Color de la barra de navegación */
    --color-box-claro: #031427ea; /* Color de los botones de la barra de navegación*/
    --valor-contenedor: #a0f4ff23;
}

@media (prefers-color-scheme: dark) {
    :root{
    /* Colores para el tema OSCURO */
    
    --interior-menu: #020114;
    --texto-menu: #dddddd;
    --family: #111213;
    --calc: #25272e;
    --color-fondo-claro: #010016e8; /* Fondo más oscuro */
    --color-barra-navegacion-claro: #f3f3f3; /* Barra de navegación más oscura */
    --color-box-claro: #000000dc; /* Botones de la barra en oscuro */
    }
}


body{
    background-color: var(--color-fondo-claro);
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.glass{
    background: #2c2c2c40;
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/*
::-webkit-scrollbar { width: 0px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #3a77a1;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}
*/

.scrollcontainer{
    width: fit-content;
    height: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav{
    background-color: var(--color-barra-navegacion-claro);
    width: 100% !important;
}

.logo{
    text-decoration: none;
    letter-spacing: 1.5px;
}

.family{
    font-family: montserrat;
    font-weight: bold;
    color: var(--family);
    font-size: 3.8dvh;
}

.calc{
    font-size: 4.4dvh;
    font-family: fira sans;
    font-weight: bold;
    color: var(--calc);
    letter-spacing: 1px;
}

.menu{                  
    background-color: var(--color-box-claro);
    border: none;
    padding: 4px;
}

.btn img{
    width: 4.8dvh;
}

.menu:hover{
    background-color: rgba(144, 165, 223, 0.336);
    border: none;
}

.interiorMenu{
    background-color: var(--interior-menu);
    padding: 0;
    height: 100%;
}

.interiorMenu a{
    color: var(--texto-menu);
    text-decoration: none;
    display: block;
    font-size: 2.1dvh;
    padding: 12px 0 12px 15px;
    font-family: "Work Sans";
    font-weight:normal;
}

.interiorMenu a:hover{
    background-color: #10195e67;
}

.interiorMenu .explorar h4{
    color: var(--texto-menu);
    font-size: 5dvh;
    margin-left: 2dvh;
    font-family: "Oswald";
    font-weight: bold;
    letter-spacing: 8px;
}

.interiorMenu .explorar img{
    margin-right: 3dvh;
    width: 7dvh;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 10px;
    border-radius: 20px;
}

.contactos{
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 10px;
}

.contactos img{
    width: 2.5rem;
}

.contactos-box{
    position: absolute;
    margin-bottom: 1rem;
}

.tables-container{
    background-color: white;
    border-radius: .5cm;
    padding: 2rem;
    align-content: center;
    overflow-x: hidden;
}

.table{
    width: 90%;
}

.table tr td{
    font-size: 2.3dvh;
}

.table tr td .btn{
    border-radius: 2.5dvh;
    margin: auto .5rem;
}

.table tr td img{
    padding: .15rem;
    height: 5dvh;
    width: 5dvh;
}

@media screen and (max-width:649px) {

    .contactos-box{
        margin-top: 22dvh;
    }
    
    .family{
        font-size: 2.8dvh;
    }

    .calc{
        font-size: 3.2dvh;
    }

    .menu{
    padding: 0.3dvh;
    }

    .menu img{
        width: 3.9dvh;
    }

    .interiorMenu{
    background: #2c2c2c40;
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .interiorMenu .explorar h4{
    font-size: 5.5dvh;
    margin-left: 3dvh;
    color: white;
    }

    .interiorMenu .explorar img{
    margin-right: 2dvh;
    width: 7dvh;
    background-color: rgba(0, 0, 0, 0.596);
    }

    .interiorMenu .explorar a{
        font-size: 2.7dvh;
        color: white;
    }

    .contactos{
    background: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    border-radius: 10px;
    }
    
}
@media screen and (min-width:650px) and (max-width:1279px) {
    .menu img{
        width: 5dvh;
    }

    .interiorMenu{
    background: #2c2c2c40;
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .interiorMenu .explorar img{
    margin-right: 2dvh;
    width: 5.4dvh;
    }

    .interiorMenu .explorar h4{
    font-size: 4dvh;
    color: white;
    }

    .interiorMenu .explorar a{
    font-size: 2.1dvh;
    color: white;
    }

    
    .family{
        font-size: 3.2dvh;
    }

    .calc{
        font-size: 4dvh;
    }

    .contactos-box{
        margin-top: 15dvh;
    }

    .contactos{
    background: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    border-radius: 10px;
    }

    .contactos img{
    transform: translate(-5%, -8%);
    }
}

@media (orientation: landscape) and (max-height: 430px) {

    .family{
        font-size: 6dvh;
    }

    .calc{
        font-size: 6.6dvh;
    }

    .pos-img  {
    font-size: 4.5dvh;
    }

    .menu img{
        width: 10dvh;
    }

    .interiorMenu .explorar h4{
    font-size: 10dvh;
    margin-left: 5dvh;
    color: white;
    }

    .interiorMenu .explorar img{
    margin-right: 2dvh;
    width: 13dvh;
    background-color: rgba(0, 0, 0, 0.596);
    }

    .interiorMenu .explorar a{
        font-size: 5dvh;
        color: white;
    }

    .contactos{
        height: 4rem;
        width: 4rem;
        background: rgba(0, 0, 0, 0.596);
    }

    .contactos img{
        transform: translate(-45%, -15%);
    }
}