body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #000;
    color: #fff;
    padding: 20px 15px; /* Aumentado el padding superior e inferior para hacer la barra más grande */
    font-size: 1.2em;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el título */
.chat-header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

/* Estilo para el ícono SVG dentro del enlace */
.chat-header a img {
    height: 40px; /* Aumentado el tamaño del ícono */
    width: auto; /* Mantiene la proporción automáticamente */
    display: block;
}


.chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 20px 25px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot-message {
    background-color: #e0e0e0;
    color: #333;
    align-self: flex-start;
}

.user-message {
    background-color: #000;
    color: #fff;
    align-self: flex-end;
}

.options-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #333;
}