body{
    font-family: Space Grotesk;
    margin: 0;
}

.pos-botones {
    display: grid;
    grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
    gap: 20%;
    height: 500px;
    width: 1500px;
}

.top-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.bottom-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.botones{
    height: 200px;
    width: 550px;
    border-radius: 20px;
    padding: 0;
}

#btn-verticales{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.logo{
    font-family: Permanent Marker;
    text-decoration: none;
    color:black;
}

#boton-menor{
    width: 250px;
}

a.botones p{
    border-bottom: solid 1px;
    margin: 0;
    padding: 2px;
}